*{
  margin: 0;
  padding: 0;
  list-style-type: none;
  outline: none;
}
.decay-mask{
  -webkit-mask-image: url('../../assets/decaying.webp');
  mask-image: url('../../assets/decaying.webp');
}
.game0{
  background-image: -webkit-image-set(
    url("../../assets/soria1x.webp") 1x,
    url("../../assets/soria2x.webp") 2x);
  background-image: image-set(
    url("../../assets/soria1x.webp") 1x,
    url("../../assets/soria2x.webp") 2x);
}
.game1{
  background-image: -webkit-image-set(
    url("../../assets/huldra1x.webp") 1x,
    url("../../assets/huldra2x.webp") 2x);
  background-image: image-set(
    url("../../assets/huldra1x.webp") 1x,
    url("../../assets/huldra2x.webp") 2x);
}
.game2{
  background-image: -webkit-image-set(
    url("../../assets/svaelg1x.webp") 1x,
    url("../../assets/svaelg2x.webp") 2x);
  background-image: image-set(
    url("../../assets/svaelg1x.webp") 1x,
    url("../../assets/svaelg2x.webp") 2x);
}
.game3{
  background-image: -webkit-image-set(
    url("../../assets/korn1x.webp") 1x,
    url("../../assets/korn2x.webp") 2x);
  background-image: image-set(
    url("../../assets/korn1x.webp") 1x,
    url("../../assets/korn2x.webp") 2x);
}
.game4{
  background-image: -webkit-image-set(
    url("../../assets/dammen1x.webp") 1x,
    url("../../assets/dammen2x.webp") 2x);
  background-image: image-set(
    url("../../assets/dammen1x.webp") 1x,
    url("../../assets/dammen2x.webp") 2x);
}
.game5{
  background-image: -webkit-image-set(
    url("../../assets/fossen1x.webp") 1x,
    url("../../assets/fossen2x.webp") 2x);
  background-image: image-set(
    url("../../assets/fossen1x.webp") 1x,
    url("../../assets/fossen2x.webp") 2x);
}
.game6{
  background-image: -webkit-image-set(
    url("../../assets/pluk1x.webp") 1x,
    url("../../assets/pluk2x.webp") 2x);
  background-image: image-set(
    url("../../assets/pluk1x.webp") 1x,
    url("../../assets/pluk2x.webp") 2x);
}
.game7{
  background-image: -webkit-image-set(
    url("../../assets/spring1x.webp") 1x,
    url("../../assets/spring2x.webp") 2x);
  background-image: image-set(
    url("../../assets/spring1x.webp") 1x,
    url("../../assets/spring2x.webp") 2x);
}
.game8{
  background-image: -webkit-image-set(
    url("../../assets/troldspor1x.webp") 1x,
    url("../../assets/troldspor2x.webp") 2x);
  background-image: image-set(
    url("../../assets/troldspor1x.webp") 1x,
    url("../../assets/troldspor2x.webp") 2x);
}
.game9{
  background-image: -webkit-image-set(
    url("../../assets/bear1x.webp") 1x,
    url("../../assets/bear2x.webp") 2x);
  background-image: image-set(
    url("../../assets/bear1x.webp") 1x,
    url("../../assets/bear2x.webp") 2x);
}
.bodmob{
  background-image: -webkit-image-set(
    url("../../assets/mob1x.webp") 1x,
    url("../../assets/mob2x.webp") 2x);
  background-image: image-set(
    url("../../assets/mob1x.webp") 1x,
    url("../../assets/mob2x.webp") 2x);
}
.bodchmob{
  background-position: top;
  background-image: -webkit-image-set(
    url("../../assets/chmob1x.webp") 1x,
    url("../../assets/chmob2x.webp") 2x);
  background-image: image-set(
    url("../../assets/chmob1x.webp") 1x,
    url("../../assets/chmob2x.webp") 2x);
}
@media screen and (min-width: 768px){
  .bodtab{
    background-image: -webkit-image-set(
      url("../../assets/tab1x.webp") 1x,
      url("../../assets/tab2x.webp") 2x);
    background-image: image-set(
      url("../../assets/tab1x.webp") 1x,
      url("../../assets/tab2x.webp") 2x);
  }
  .bodchtab{
    background-position: top;
    background-image: -webkit-image-set(
      url("../../assets/chtab1x.webp") 1x,
      url("../../assets/chtab2x.webp") 2x);
    background-image: image-set(
      url("../../assets/chtab1x.webp") 1x,
      url("../../assets/chtab2x.webp") 2x);
  }
}
@media screen and (min-width: 1440px){
  .bodbig{
    background-image: -webkit-image-set(
      url("../../assets/big1x.webp") 1x,
      url("../../assets/big2x.webp") 2x);
    background-image: image-set(
      url("../../assets/big1x.webp") 1x,
      url("../../assets/big2x.webp") 2x);
  }
  .bodchbig{
    background-position: top;
    background-image: -webkit-image-set(
      url("../../assets/chbig1x.webp") 1x,
      url("../../assets/chbig2x.webp") 2x);
    background-image: image-set(
      url("../../assets/chbig1x.webp") 1x,
      url("../../assets/chbig2x.webp") 2x);
  }
}
